logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
project/project
project/target
.cache
.target
tmp
.idea_modules
bin
.*
!.gitignore
!.scalafmt.conf
db
dist
.DS_Store
**/*.DS_Store
eclipse
*.eml
.history
.idea
*.iml
lib
lib_managed
log
modules
/out
precompiled
server.pid
test-result
