@import config.AppConfig
@(oModel: Option[FPLDataModel])(implicit messages: Messages, appConfig: AppConfig)

  @main(messages("index.title")) {

    <h1>@messages("index.heading") <span class="badge badge-info">@messages("base.api")</span></h1>

    @oModel.map { model =>

      <table class="table table-striped table-bordered table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">Team</th>
            <th scope="col">Shirt name</th>
            <th scope="col">Value</th>
            <th scope="col">Position</th>
            <th scope="col">Minutes Played</th>
            <th scope="col">Points Earned</th>
            <th scope="col">Points Per Minute</th>
            <th scope="col">avg. Points Per Game</th>
          </tr>
        </thead>
        <tbody>
          @for(team <- model.teamsWithPlayers) {
            @for(player <- team.players.sortBy(_.positionId)) {
              <tr>
                <td>
                  <img  width="24px"
                  src="@{team.shirtImageUrl}" />
                </td>
                <td>@player.shirtName</td>
                <td>@player.price</td>
                <td>@player.position</td>
                <td>@player.stats.minutes</td>
                <td>@player.fplStats.points</td>
                <td>@player.pointsPerMinute</td>
                <td>@player.avgPointsPerGame</td>
              </tr>
            }
          }
        </tbody>
      </table>
    }
  }
